.gallery {
  margin: 0 auto;
  padding: 100px 0;
  width: 1128px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px 20px;
}

.gallery li {
  list-style-type: none;
}

.gallery li img {
  width: 360px;
  height: 200px;
}
